<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Tesla</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header>
    <h1>About Tesla</h1>
</header>
<nav>
    <a href="http://localhost:8080/">Link to Main Screen</a>
</nav>
<main>
    <div>
        <h2>Company Overview</h2>
        <p>Tesla, Inc. is a leading electric vehicle (EV) and clean energy company founded in 2003. With a mission to accelerate the world's transition to sustainable energy, Tesla has become synonymous with innovation and excellence in the EV industry.</p>
    </div>
    <div>
        <h2>Our Vision</h2>
        <p>Tesla's vision is to create the most compelling car company of the 21st century by driving the widespread adoption of electric vehicles. We believe in a sustainable future where all our products are powered by clean energy, making the world a better place for current and future generations.</p>
    </div>
    <div>
        <h2>Products and Innovations</h2>
        <p>Tesla's product lineup includes electric cars, energy storage solutions, and solar products. Our electric vehicles, such as the Model S, Model 3, Model X, and Model Y, are known for their cutting-edge technology, performance, and range.</p>
        <p>We have also developed groundbreaking self-driving and autonomous driving technology, setting the standard for the automotive industry.</p>
    </div>
</main>
</body>
</html>